body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, black 25%, #00008B );
    color: #ffffff;
    min-height: 100vh;
}

.navbar {
    background: linear-gradient(90deg, #00008B 0.3%, black );
    box-shadow: 0 2px 5px #8b0000, #0b0c2a;
}

.navbar .nav-link {
    color: #ffffff ;
}

.navbar .nav-link:hover {
    color: #ffd700 ; 
}

.navbar .navbar-nav .nav-link {
    color: #ffffff !important;
    margin-right: 15px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover {
    color: #ffd700 !important;
}

.navbar-toggler-icon {
    filter: invert(1); 
}

.navbar img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#projeto, #areas, #curiosidades-rapidas {
    padding: 20px;
    text-align: center;
}

#projeto .container,
#areas .container,
#curiosidades-rapidas .container {
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    color: #ff4444;
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
    font-size: 16px;
    color: #cccccc;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: rgba(255, 255, 255, 0.05);
    margin: 10px auto;
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 600px;
    line-height: 1.5;
}

a {
    color: #ffd700;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.curiosidades-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card-country {
    background: linear-gradient(145deg, #1c1c44, #3a0d0d);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.card-country:hover {
    transform: scale(1.05);
}

.card-body {
    padding: 15px;
}

.card-country h5 {
    margin-top: 10px;
    color: #ff4444;
}

.card-country p {
    color: #cccccc;
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background: linear-gradient(135deg, #00008B 25%, black);
    color: #ffffff;
    font-size: 14px;
    box-shadow: 0 -2px 5px #8b0000, #0b0c2a;
}

@media (max-width: 992px) {
    .card-country {
        width: 45%;
    }
}

@media (max-width: 576px) {
    .card-country {
        width: 100%;
    }
}
